<launch>
    <arg name = "color_topic" value = "/realsense_back/color/image_raw"/>
    <arg name = "depth_topic" value = "/realsense_back/aligned_depth_to_color/image_raw"/>
    <node name="aruco_localizator" pkg="aruco_localization" type="aruco_localization" output="screen">
        <param name = "color_topic" type = "str" value = "$(arg color_topic)"/>
        <param name = "depth_topic" type = "str" value = "$(arg depth_topic)"/>
    </node>
</launch>